# dependencies
bank-pro/node_modules/
bank-pro/.pnp
bank-pro.pnp.js

# testing
bank-pro/coverage

# production
bank-pro/build

# misc
bank-pro/.DS_Store
bank-pro/.env.local
bank-pro/.env.development.local
bank-pro/.env.test.local
bank-pro/.env.production.local

bank-pro/npm-debug.log*
bank-pro/yarn-debug.log*
bank-pro/yarn-error.log*

ws-bank/WebServiceBank/target

ws-transaksi/node_modules/
